div.wrapper
	form#login(action="/auth/login", method="POST")
		input.field.username(type="text", name="username", placeholder="Username")
		input.field.password(type="password", name="password", placeholder="password")
		button.btn.btn-green.button.login(type="submit", name="login", value="submit") Login
		button.btn.btn-blue.button.create(type="cancel", name="create", value="register") Create