div#menu.view.aside
	div.logo
	ul.menu-items
		li.cell(data-item="visa").clearfix
			span.icon-visa
			p Visa tracker
		li.cell(data-item="safe").clearfix
			span.icon-safe
			p Document safe
		li.cell(data-item="info").clearfix
			span.icon-info
			p Offline information
		li.cell(data-item="renew") Renewals & Flights
		li.cell(data-item="settings") Visa Settings
		li.cell(data-item="about") About VisaTrak